[submodule "libs/bashlog"]
	path = libs/bashlog
	url = https://github.com/Zordrak/bashlog.git
[submodule "libs/bash-utility"]
	path = libs/bash-utility
	url = https://github.com/labbots/bash-utility.git
[submodule "external/lazy-llm"]
	path = external/lazy-llm
	url = https://github.com/paulomuggler/lazy-llm.git
[submodule "dotfiles/tmux/.config/tmux/plugins/tpm"]
	path = dotfiles/tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
